div{
	width:300px;
	background-color:#ff3333;
	margin: 0 auto;
}

#Cereal{
	width: 50%;
	position: relative;
	left: 70px;
}

#bar{
	width: 50%;
	position: relative;
	left: 70px;
}

#vanilla{
	width: 50%;
	position: relative;
	left: 70px;
}

#crisp{
	width: 50%;
	position: relative;
	left: 70px;
}


.titles{
	color: white;
	font-family: Helvetica, serif;
	font-size: 1.5em;
}

strong em{
	color: blue;
}

a em{
	color:purple;
}